@model IEnumerable<EventTracker.Models.Event>

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<h2>Events</h2>

<p align="right"> <a href="/Event/AddEvent">Add Event</a> </p>

<table class="table">

    @foreach (var eventDisplay in Model)
    {
        <tr>
            <td>It's been <b>@Html.DisplayFor(modelDisplay => eventDisplay.DaysPassed)</b> days since <b>@Html.DisplayFor(modelDisplay => eventDisplay.Description)</b></td>
            <td>| @Html.ActionLink("Delete", "DeleteEvent", "Event", new { id = eventDisplay.Id }, "") |</td>
            <td>| @Html.ActionLink("Reset", "ResetEvent", "Event", new { id = eventDisplay.Id }, "") |</td>
        </tr>
    }

</table>

